<!-- ============================================ -->
<!--                    Menu                      -->
<!-- ============================================ -->

<section id="menu-1001">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-wrapper" aria-hidden="true">
                <img class="cs-decal" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/decal1.svg"
                     decoding="async" alt="decal" width="181" height="36">
            </picture>
            <h2 class="cs-title" id="menu
            ">Menu</h2>
            <p class="cs-text">(Dunaujvaros teruleten: ingyenes)</p>
            <p class="cs-text"> Csomagolasi koltseg: Ft250 </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/Images/burgerandchips.jpg">
                    <source media="(min-width: 601px)" srcset="/Images/burgerandchips.jpg">
                    <img loading="lazy" decoding="async" src="/Images/burgerandchips.jpg" alt="food" width="160"
                         height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Sajtburger</span>
                        <span class="cs-price">
                            Ft1490
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Hamburger buci, hamburgerhus,
                        hamburger sosz, voroshagyma,
                        uborka, cheddar sajt bacon
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/Images/burgerandchips.jpg">
                    <source media="(min-width: 601px)" srcset="/Images/burgerandchips.jpg">
                    <img loading="lazy" decoding="async" src="/Images/burgerandchips.jpg" alt="food" width="160"
                         height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Tomusburger</span>
                        <span class="cs-price">
                            Ft1790
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Hamburger buci, hamburgerhus,
                        hamburger sosz, voroshagyma,
                        uborka, cheddar sajt, salata, ketchup
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/Images/burgerandchips.jpg">
                    <source media="(min-width: 601px)" srcset="/Images/burgerandchips.jpg">
                    <img loading="lazy" decoding="async" src="/Images/burgerandchips.jpg" alt="food" width="160"
                         height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Baconburger</span>
                        <span class="cs-price">
                            Ft1690
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Hamburger buci, hamburgerhus,
                        hamburger sosz, voroshagyma,
                        uborka, cheddar sajt, salata, bacon
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/Images/burgerandchips.jpg">
                    <source media="(min-width: 601px)" srcset="/Images/burgerandchips.jpg">
                    <img loading="lazy" decoding="async" src="/Images/burgerandchips.jpg" alt="food" width="160"
                         height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Alpesiburger</span>
                        <span class="cs-price">
                            Ft2490
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        hamburger buci, hamburgerhus,
                        hamburger sosz,bacon, voroshagyma, uborka, cheddar sajt, roszti, grillezett voroshagyma
                        tukorojas, mustar
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/Images/burgerandchips.jpg">
                    <source media="(min-width: 601px)" srcset="/Images/burgerandchips.jpg">
                    <img loading="lazy" decoding="async" src="/Images/burgerandchips.jpg" alt="food" width="160"
                         height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Chilliburger</span>
                        <span class="cs-price">
                            Ft1690
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        Hamburger buci, hamburgerhus,
                        hamburger sosz, voroshagyma, uborka,
                        cheddar sajt, jalapeno, chilli szosz
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/Images/burgerandchips.jpg">
                    <source media="(min-width: 601px)" srcset="/Images/burgerandchips.jpg">
                    <img loading="lazy" decoding="async" src="/Images/burgerandchips.jpg" alt="food" width="160"
                         height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Fullburger</span>
                        <span class="cs-price">
                            Ft2890
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        hamburger buci, 2 szelet hamburgerhus,
                        hamburger sosz, voroshagyma, uborka, 4 szelet bacon, 4 szelet cheddar sajt
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/Images/burgerandchips.jpg">
                    <source media="(min-width: 601px)" srcset="/Images/burgerandchips.jpg">
                    <img loading="lazy" decoding="async" src="/Images/burgerandchips.jpg" alt="food" width="160"
                         height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Duplaburger</span>
                        <span class="cs-price">
                            Ft2390
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        hamburger buci, 2 szelet hamburgerhus,
                        hamburger sosz, voroshagyma, uborka, 4 szelet bacon, 4 szelet cheddar sajt
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/Images/burgerandchips.jpg">
                    <source media="(min-width: 601px)" srcset="/Images/burgerandchips.jpg">
                    <img loading="lazy" decoding="async" src="/Images/burgerandchips.jpg" alt="food" width="160"
                         height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Reccsburger</span>
                        <span class="cs-price">
                            Ft2490
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        hamburger buci, 2 szelet hamburgerhus,
                        hamburger sosz, voroshagyma, uborka, 4 szelet bacon, 4 szelet cheddar sajt
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/Images/burgerandchips.jpg">
                    <source media="(min-width: 601px)" srcset="/Images/burgerandchips.jpg">
                    <img loading="lazy" decoding="async" src="/Images/burgerandchips.jpg" alt="food" width="160"
                         height="160">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        <span class="cs-name">Bitangburger</span>
                        <span class="cs-price">
                            Ft2590
                        </span>
                    </h3>
                    <p class="cs-item-p">
                        hamburger buci, 2 szelet hamburgerhus,
                        hamburger sosz, voroshagyma, uborka, 4 szelet bacon, 4 szelet cheddar sajt
                    </p>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Reserve Your Table</a>
    </div>
    <!--Static background is in CSS as a tiled pattern-->
</section>


<style>
    /*-- -------------------------- -->
<---            Menu            -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #menu-1001 {
            padding: var(--sectionPadding);
            position: relative;
            z-index: 1;
        }

        #menu-1001:before {
            /* static tiled pattern */
            content: "";
            height: 100%;
            width: 100%;
            opacity: 0.08;
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/static-pattern.png");
            background-size: auto;
            background-position: center;
            background-repeat: repeat;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        #menu-1001 .cs-container {
            width: 100%;
            max-width: 80em;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        #menu-1001 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        #menu-1001 .cs-wrapper {
            /* 120px - 181px */
            width: clamp(7.5rem, 9vw, 11.3125rem);
            margin-bottom: 0.75rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        #menu-1001 .cs-wrapper:before {
            /* left line */
            content: "";
            /* 90px - 155px */
            width: clamp(5.625rem, 4vw, 9.6875rem);
            height: 1px;
            /* 12px - 24px */
            margin-right: clamp(0.75rem, 2vw, 1.5rem);
            background: #b4b2c7;
            opacity: 1;
            position: absolute;
            display: block;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
        }

        #menu-1001 .cs-wrapper:after {
            /* right line */
            content: "";
            /* 90px - 155px */
            width: clamp(5.625rem, 4vw, 9.6875rem);
            height: 1px;
            /* 12px - 24px */
            margin-left: clamp(0.75rem, 2vw, 1.5rem);
            background: #b4b2c7;
            opacity: 1;
            position: absolute;
            display: block;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
        }

        #menu-1001 .cs-wrapper img {
            width: 100%;
        }

        #menu-1001 .cs-button-solid {
            font-size: 1rem;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: #fff;
            min-width: 9.375rem;
            padding: 0 2rem;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;
            border-radius: 15px;
        }

        #menu-1001 .cs-button-solid:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0%;
            background: #fcf7f7;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
            border-radius: 15px;
        }

        #menu-1001 .cs-button-solid:hover {
            color: #000000;
        }

        #menu-1001 .cs-button-solid:hover:before {
            width: 100%;
        }

        #menu-1001 .cs-card-group {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            column-gap: 1.25rem;
            /* 32px - 60px */
            row-gap: clamp(2rem, 6vw, 3.75rem);
        }

        #menu-1001 .cs-item {
            list-style: none;
            width: 100%;
            max-width: 36.25rem;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* 16px - 36px */
            gap: clamp(1rem, 3vw, 2.25rem);
        }

        #menu-1001 .cs-picture {
            /* 76px - 160px */
            width: clamp(4.75rem, 14vw, 10rem);
            height: clamp(4.75rem, 14vw, 10rem);
            overflow: hidden;
            display: block;
            flex: none;
            position: relative;
        }

        #menu-1001 .cs-picture img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /* makes it act like a background image */
            object-fit: cover;
        }

        #menu-1001 .cs-h3 {
            /* 16px - 24px */
            font-size: clamp(1rem, 2vw, 1.5rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            /* 8px - 16px */
            margin: 0 0 clamp(0.5rem, 1.5vw, 1rem);
            color: var(--headerColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            gap: 0.75rem;
        }

        #menu-1001 .cs-h3:after {
            content: "";
            width: 50%;
            height: 1px;
            background: #b4b2c7;
            opacity: 1;
            position: relative;
            display: block;
            order: 1;
        }

        #menu-1001 .cs-name {
            max-width: 13.75rem;
            flex: none;
        }

        #menu-1001 .cs-price {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            /* 28px - 46px */
            line-height: clamp(1.75rem, 4vw, 2.875rem);
            font-weight: 700;
            /* 8px - 12px */
            padding: 0 clamp(0.5rem, 1vw, 0.75rem);
            color: var(--primary);
            background-color: #fff;
            border-radius: 5rem;
            border: 1px solid #b4b2c7;
            display: flex;
            align-items: center;
            order: 3;
        }

        #menu-1001 .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #menu-1001 .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: 1.25rem;
        }

        #menu-1001 .cs-item {
            width: 48.5%;
        }
    }


</style>
